* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, Arial, sans-serif;
    color: #1f2937;
    background-color: #f9faf1;
}

header {
    background-color: #0f172a;
    color: #ffffff;
    padding: 1.5rem;
    text-align: center;
}

header a {
    color: #ffffff;

}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 1.5rem;
}

footer {
    font-size: 0.875rem;
    color: #6b7280;
    padding: 1rem;
    text-align: center;
}

/* Catalogo de Talleres */

.Catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.Tarjeta {
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    padding: 1rem;
}

.tarjeta h2 {
    margin-top: 0;
    font-size: 1.1rem;
}

.tarjeta a {
    color: #0f172a;
    text-decoration: none;
}

.tarjeta a:hover {
    text-decoration: underline;
}

/* Formulario de Registro */
.Volver {
    border: 1px solid #0f172a;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background-color: #3368A0;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Volver:hover {
    background-color: #66A3BF;
}

.Volver2 {
    border: 1px solid #0f172a;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #3368A0;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin: 1rem;
    width: auto;
    display: inline-block;
    text-align: center;
}

.Volver2:hover {
    background-color: #66A3BF;
}

button {
    border: 1px solid #0f172a;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background-color: #3368A0;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

input {
    display: block;
    margin: 1rem;
    border-radius: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color:#1f2937;
    padding: 0.3rem;
}

input:user-invalid {
    border-color: #dc2626;
    background-color: #fef2f2;

}

label {
    font-size: 1.3rem;
}

.Body {
    text-align: center;
}

button:hover {
    background-color: #66A3BF;
    text-decoration: underline;
    text-decoration-style: solid;
}